// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #EA7E34;
$green: #72B815;
$gray: #000000;
$light-gray: #F4F4F4;

$my-blue: #364F6B;
$light-blue: #F2F5FA;
$my-secondary-blue: #3FC1C9;
$my-red: #ff2e4c;
$my-green: #38ab4b;
