// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #24252D;
}
.cover-container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.53) 20%, rgba(0, 0, 0, 0.13) 62%), url("https://res.cloudinary.com/dlopez10g/image/upload/v1565297025/PUBLICIDAD_1-01_1.png");
  background-size: cover;
  background-attachment: scroll;
  background-position: 105%;
}

.top-images {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.title {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  letter-spacing: 0.85rem;
  margin-top: 24px;
  color: white
}
.subtitle {
  font-family: Arial, sans-serif;
  letter-spacing: -0.15rem;
  font-weight: 700;
  margin-top: 12px;
  color: $amg-green;
}
.lema {
  font-size: 20px;
  font-weight: 700;
}
.low-top-margin {
  margin-top: 0px;
}
.other-titles {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin-top: 48px;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 0rem;
}
.line-separator {
  width: 60px;
  padding-left: 4px;
  hr {
    border-top: 6px solid $amg-green;
    margin: 16px 0;
  }
}
.text-content {
  padding: 32px 32px 48px 32px;
}
#mc_embed_signup {
  font:14px;
  color: $amg-gray;
  form {
    font-family: Arial, sans-serif;
    padding: 10px 0 !important;
  }
  ::placeholder {
    font-family: Arial, sans-serif;
  }
  .button{
    margin-top:8px !important;
  }
}
#mc-embedded-subscribe {
  background-color: $amg-blue !important;
}

@media (min-width: 1024px) {
  .cover-container {
    background-position: inherit;
  }
  .title {
    font-size: 72px;
  }
  .subtitle {
    font-size: 72px;
  }
  .leftside {
    width: 56vw;
    padding-left: 80px;
    padding-top: 24px;
  }
  .text-content {
    padding-left: 80px;
    padding-top: 24px;
  }
  .top-images {
    height: 96vh;
  }
  .top-images img {
    // width: 368px;
    height: 268px;
  }
  #mc_embed_signup {
    input.email {
      width: 35% !important;
    }
  }
}
@media (max-width: 1025px) {
  .leftside {
    padding: 24px;
    position: relative;
    top: 62vh;
  }
  .top-images img {
    height: 51vw;
  }
  .text-content {
    text-align: center;
  }
  .title {
    font-size: 21vw
  }
  .subtitle {
    font-size: 18vw
  }
  #mc_embed_signup {
    input.email {
      width: 90% !important;
    }
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .top-images {
    height: 100%;
  }
  .top-images img {
    height: 27vh;
  }
  .leftside {
    width: 100%;
  }
  .lema {
    font-size: 32px;
  }
  .other-titles {
    font-size: 64px;
  }
  .paragraph-text {
    font-size: 32px;
  }
}


