<div class="cover-container">
  <div class="leftside">
    <div class="top-images">
      <div class="logo-image">
        <img src="https://res.cloudinary.com/dlopez10g/image/upload/v1565300088/Group_4_2.png" alt="Fecha votación y logo AMG">
      </div>
    </div>
  </div>
</div>
<div class="separator">
  <img src="https://res.cloudinary.com/dlopez10g/image/upload/v1565362606/animal-prints.png" alt="Separador">
</div>
<div class="text-content">
  <h1 class="title">
    Pancracia
  </h1>
  <h2 class="subtitle low-top-margin">
    Alcaldesa
  </h2>
  <h3 class="lema low-top-margin">
    Más que una alcaldesa, tu familia
  </h3>
  <h3 class="other-titles">
   Este sábado lanzaré mi campaña junto con mi ¡Nueva Pet Shop!
  </h3>
  <div class="line-separator">
    <hr>
  </div>
  <ul class="text-left paragraph-text propuestas-list">
    <li>Obsequios y degustaciones para todos</li>
    <li>Snacks y accesorios a precio justo</li>
    <li>Día de sol gratis para todos los perros y gatos asistentes a mi evento</li>
    <li>20% de descuento en toda la tienda por inauguración</li>
  </ul>
  <p class="text-left paragraph-text">
    <strong> Y más sorpresas </strong>
  </p>
  <h4 class="other-titles">
   ¿Cómo llegar al evento?
  </h4>
  <div class="line-separator">
    <hr>
  </div>
  <div class="map-contaiener">
  </div>
  <div class="map-info">
    <div class="address-info paragraph-text">
       Dirección: Cra. 39a #18b Sur-1 a 18b Sur-179, Medellín, Antioquia
    </div>
    <br />
    <div class="address-info paragraph-text">
      Referencia: Por la loma que sube del Euro de la frontera al Mall San Lucas, (subiendo) después de Mercolanta la primera entrada a la izquierda, luego encuentras AMG Mascotas en la mitad de esa cuadra<br />
    </div>
    <br />
    <div class="address-info paragraph-text">
      <a class="btn btn-primary btn-lg btn-amg" href="https://goo.gl/maps/oniowKSmEunr2mWt8" target="_blank">Ver en google maps </a>
    </div>
  </div>
</div>


