<div class="cover-container">
  <div class="leftside">
    <div class="top-images">
      <div class="logo-image">
        <img src="https://res.cloudinary.com/dlopez10g/image/upload/v1565300088/Group_4_2.png" alt="Fecha votación y logo AMG">
      </div>
    </div>
  </div>
</div>
<div class="text-content">
  <h1 class="title">
    Pancracia
  </h1>
  <h2 class="subtitle low-top-margin">
    Alcaldesa
  </h2>
  <h3 class="lema low-top-margin">
    Más que una alcaldeza, tu familia
  </h3>
  <h4 class="other-titles">
   Propuestas
  </h4>
  <div class="line-separator">
    <hr>
  </div>
  <p class="text-left paragraph-text">
    Espera pronto todas nuestras propuestas de campaña
  </p>
  <h4 class="other-titles">
   Inscribete al lanzamientor de campaña
  </h4>
  <div class="line-separator">
    <hr>
  </div>
  <p class="text-left paragraph-text">
    Espera pronto todas nuestras propuestas de campaña
  </p>
  <div class="form">
  </div>
</div>
