<div class="cover-container">
  <div class="leftside">
    <div class="top-images">
      <div class="logo-image">
        <img src="https://res.cloudinary.com/dlopez10g/image/upload/v1565300088/Group_4_2.png" alt="Fecha votación y logo AMG">
      </div>
    </div>
  </div>
</div>
<div class="separator">
  <img src="https://res.cloudinary.com/dlopez10g/image/upload/v1565362606/animal-prints.png" alt="Separador">
</div>
<div class="text-content">
  <h1 class="title">
    Pancracia
  </h1>
  <h2 class="subtitle low-top-margin">
    Alcaldesa
  </h2>
  <h3 class="lema low-top-margin">
    Más que una alcaldesa, tu familia
  </h3>
  <h4 class="other-titles">
   Propuestas
  </h4>
  <div class="line-separator">
    <hr>
  </div>
  <ul class="text-left paragraph-text propuestas-list">
    <li>Obsequios y degustaciones para todos</li>
    <li>Snacks y accesorios a precio justo</li>
    <li>Día de sol gratis para todos los perros y gatos asistentes a mi evento</li>
  </ul>
  <p class="text-left paragraph-text">
    <strong>Espera más propuestas pronto</strong>
  </p>
  <h4 class="other-titles">
   Inscribete al lanzamiento de campaña
  </h4>
  <div class="line-separator">
    <hr>
  </div>
  <p class="text-left paragraph-text">
    ¿Te preguntas qué es esto? Inscríbete para ampliarte la información
  </p>
  <div class="form">
  </div>
    <div id="mc_embed_signup">
    <form action="https://gmail.us3.list-manage.com/subscribe/post?u=20276eb96905b93054a86c522&amp;id=a666d702b8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Correo Electrónico" required>
      <input type="text" value="" name="FNAME" class="email" id="mce-FNAME"  placeholder="Nombre de tus mascotas">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_20276eb96905b93054a86c522_a666d702b8" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Inscríbete" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>

    <!--End mc_embed_signup-->
  </div>
</div>


